{% extends "site/master.html" %}

{% block content %}

    <h2>{{ title }}</h2>

    <form action="/user/update/password/{{ user.id }}" method="post">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control">
        {{messages['password']['message']|message(messages['password']['alert'])|raw}}
        <br/>
        <input type="hidden" name="_METHOD" value="PUT"/>
        <button type="submit" class="form-control btn btn-primary">Send</button>
        <a href="/user/edit/{{ user.id }}" class="form-control btn btn-primary">Back</a>
    </form>

{{messages['message']['message']|message(messages['message']['alert'])|raw}}
    
{% endblock %}